<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app tracks your commute times by monitoring when you arrive and leave specific locations in the background.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app needs location access to track your commute times and monitor when you arrive and leave specific locations.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>location-services</string>
	</array>
</dict>
</plist>